.btn {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn:hover {
    opacity: .5;
}

.left {
    left: 2%;
}

.right {
    right: 2%
}