.column {
    margin: 0;
    /* height: calc(100% - 80px);
    max-height: calc(100% - 80px); */
    overflow-y: auto;

    box-sizing: border-box;
}

.column.right {
    background-color: var(--mainGrayColor);
    border-left: 2px solid #9F9F9F;
    width: 100%;
    max-width: 100%;
    /* height: calc(100% - 80px); */
}

.tabs {
    padding: 0.5rem;
    font-size: 16px;
}

.type-options {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;

    padding: 0.5rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: #FFF;
}