.container {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #81041F;
    height: 7vh;
    width: 100%;
}

.column {
    margin: 0;
    height: 93vh;
    max-width: 100vh;
}

.column.left {
    border-right: 2px solid #9F9F9F;
}

.questionHeader {
    height: '40px';
    width: 100%;

    background-color: #000;
    color: #FFF;

    padding: 0.75rem 0.5rem;

}