.questionHeader {
    height: '40px';
    box-sizing: border-box;

    font-size: 16px;
    background-color: #000;
    color: #FFF;
    border: 1px solid (--mainGrayColor);

    padding: 1.25rem 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-shadow: 1px 1px 2px 2px var(--mainGrayColor);
}


.number-input {
    height: 35px;
    width: 50px;
}

.delete-icon {
    cursor: pointer;
}